# =========================

# ENTORNO VIRTUAL

# =========================

venv/
.venv/

# =========================

# VARIABLES DE ENTORNO

# =========================

.env
.env.\*

# =========================

# PYTHON CACHE

# =========================

**pycache**/
_.pyc
_.pyo
\*.pyd

# =========================

# GIT

# =========================

.git
.gitignore

# =========================

# TEST / CACHE / BUILD

# =========================

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
dist/
build/

# =========================

# SISTEMA

# =========================

.DS_Store

# =========================

# BASES DE DATOS LOCALES

# =========================

_.sqlite3
_.db
database.db

# =========================

# DOCKER (opcional)

# =========================

docker-compose.override.yml

# =========================

# LOGS

# =========================

\*.log

# =========================

# K8s / Terraform sensibles (opcional)

# =========================

_.tfstate
_.tfstate.\*
\*.pem
