APP_NAME=API JMV
APP_ENV=development
API_KEY=your-api-key-here
DATABASE_URL=sqlite:///./database.db
LOG_LEVEL=INFO
MAX_ITEMS_PER_PAGE=100

JWT_SECRET_KEY=change-this-super-secret-jwt-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=api-jmv
S3_REGION=us-east-1