# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Env
.env
.env.*
!.env.example

# Local DB
*.db

# Pytest
.pytest_cache/

# OS
.DS_Store
# Binarios locales
minikube-darwin-amd64
minikube-darwin-arm64

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables sensibles
*.auto.tfvars
secrets.tfvars
